@charset "utf-8";
.contactform .center a.ui-link{
	text-decoration: none;
	color: #000;
}
.tab{
	text-align: center;
}
#Price{
	text-align: center;
}
#Shipping{
	text-align: center;
}
#Tax{
	text-align: center;
}
#Cost{
	text-align: center;
}