@charset "utf-8";
#container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
#title {
	
}
.clearIt {
    clear: left;
}
#nav {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;	
}
#nav a {
    text-decoration: none;
    color: #070707;
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
	background: #E1B453;
}
#nav a:hover {
	background-color: #E8E6E6;
	color: #000000;
}
#footer {
	text-align: center;
}
body {
	background-image: url(../images/blue-colored-vintage-texture.jpg);	
}
#form {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.contact {
	box-sizing: border-box;
	border: 2px solid #000;
	cursor: pointer;
}
.contact:hover {
	background: #000;
	color: #fff;
}
.contact h2 {
	margin: 0;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}
.contact h2 span {
	display: inline-block;
}
.contact.active {
	width: 800px;
	min-height: 400px;
}
.contact.active:hover {
	background: #fff;
	color: #000;
}
.contact.active h2 span {
	transform: rotate(45deg);
	float: right;
}
form {
	padding: 20px;
	box-sizing: border-box;
}
form .row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
form .row .col-2 {
	width: calc(50% - 10px);
	box-sizing: border-box;
	margin-bottom: 20px;
}
form .row .col-2:ntn-child(odd) {
	margin-rigt: 10px;
}
form .row .col-2:ntn-child(even) {
	margin-left: 10px;
}
form .row .col-1 {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.contact label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bold;
}
.contact input.text,
.contact textarea {
	width: 100%;
	border: 2px solid #000;
	padding: 10px;
	outline: none;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 18px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	resize: none;
}
.contact textarea {
	height: 150px;
}
.contact input[type="submit"] {
	border: 2px solid #000;
	padding: 10px;
	font-size: 18px;
	box-sizing: border-box;
	font-weight: bold;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	outline: none;
	cursor: pointer;
	background: #000;
	color: #fff;
}
.contact form {
	visibility: hidden;
	display: none;
}
.contact.active form {
	visibility: visible;
	display: block;
}