@charset "utf-8";
#page div {
	background-image: url(../images/111018-I-Love-London-Gif.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
p {
	font-size: larger;
	color: #019387;
	text-align: left;
}
.Slider {
	padding-left: 50px;
	margin-right: 10px;
}
.ui-field-contain fieldset legend {
	font-size: larger;
	margin-top: 8px;
}