@charset "utf-8";
#page2 .ui-content .container{
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.ui-content .container .box{
	text-align: center;
}
.box .icon .fa{
	font-size: 80px;
	cursor: pointer;
}
.box .icon h3,
.box .icon h4{
	position: relative;
	fonnt-weight: 400;
	margin: 0;
	padding: 2px 5px;
	font-size: 24px;
	overflow: hidden;
	transition-delay: 0.3333s;
	color: transparent; 
}
.container .box .fa:hover ~ h3,
.container .box .fa:hover ~ h4{
	color: #000;
}
.box .icon h4{
	font-weight: 600;
	margin: 5px 0;
	font-size: 30px;
}
.box .icon h3:before,
.box .icon h4:before{
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: #00bcd4;
	transition: 1s;
}
.box .icon h4:before{
	left: initial;
	right: 100%;
	background: #9c27b0;
}
.container .box .fa:hover ~ h3:before{
	left: -100%;
}
.container .box .fa:hover ~ h4:before{
	left: initial;
	right: -100%;
}
#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
 }
@media (max-width: 991px){
	#page2 .ui-content .container{
		margin: 0 auto;
		display: block;
		justify-content: none;
		width: 300px;
	}
	.ui-content .container .box{
		text-align: left;
	}
	.box .icon .fa{
		font-size: 40px;
		cursor: pointer;
		padding: 0 130px;
	}
	.box .icon h3,
	.box .icon h4{
		font-size: 18px;
		text-align: center;
	}
}