#container {
	width: 90%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	min-width: 700px;
	background: rgba(0,0,0,0.8);
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	position: relative;
}
canvas {
	position: absolute;
	opacity: 0.01;
	-webkit-transition: background 1.0s ease-in-out;
	-ms-transition:     background 1.0s ease-in-out;
	transition:         background 1.0s ease-in-out;
}
#title {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: transparent;
	color: #FFF9F9;	
	align-items: center;
	justify-content: center;
	display: flex;
}
h1{
	margin: 0;
	padding: 0;
	font-size: 6em;
	color: #ddd;
	font-family: sans-serif;
}
h1 span{
	display: inline-block;
	animation: animate 4s linear infinite;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: rotateY(90deg);
		filter: blur(10px);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}
#currentInventory {
    background-color: #E3E1E1;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 79%;
    float: left;
	background: transparent;
	color: #FFF9F9;	
}
#addPet {
    width: 21%;
    float: left;
    background: transparent;
	color: #FFF9F9;	
}
.clearIt {
    clear: left;
}
#answer {
	padding-left: 15px;
}
#inventoryTitle {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}
#inputs {
    padding-left: 10px;
}
.tabs {
    width: 25%;
    float: left;
}
.tabtitle {
    width: 25%;
    float: left;
    font-weight: bold;
}
#chart_div {
	float: left;
	position: relative;
}
#chart_div2 {
	float: left;
	position: relative;
}
#chart_div3 {
	position: relative;
}
.numInput {
	width: 50px;
}

#search {
	cursor: pointer;
}
#undo {
	cursor: pointer;
}
#filterQuantity {
	width: 40px;
}
body {
	background-image: url(http://bit.ly/2gPLxZ4); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#columnWrapper {
	font-size: large;
}
#buttonSale{
	float: right;
	position: absolute;
	right: 130px;
	font-size: 20px;
}
.modal {
  position: absolute;
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-body {
	padding: 2px 14px;
	overflow-y: auto;
}
.modal-content .modal-header h2{
	text-align: center;
}
#clear{
	font-size: x-large;
	margin: 0 265px;
}	
option{
	font-size: large;
}