@charset "utf-8";
#container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
#title {
	
}
#nav {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: x-large;	
}
#nav a {
    text-decoration: none;
    color: #070707;
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
	background: #E1B453;
}
#nav a:hover {
	background-color: #E8E6E6;
	color: #000000;
}
#footer {
	text-align: center;
}
body {
	background-image: url(../images/blue-colored-vintage-texture.jpg);
	background-size: cover;
}
#select {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}
select {
	font-size: large;	
}
#columnWrapper {
	width: 100%;
}
#leftColumn {
	width: 50%;
	float: left;
}
#rightColumn {
	width: 50%;
	float: left;
	font-size: xx-large;
}
.clearIt {
	clear: left;
}
p {
	text-align: center;
	font-weight: bold;
	font-size: x-large;
}
a {
	cursor: pointer;
}
button {
	font-size: x-large;
	background-color: #C6F7F3;
	border-style: solid;
	border-color: #258483;
	color: #070707;
	cursor: pointer;
	border-radius: 15px;
}
.list {
	width: 33.33%;
	float: left;
	list-style: none;
}
.clearit {
	clear: left;
}
@media (max-width: 1200px){
	.list {
		width: 100%;
		clear: left;
		list-style: none;
	}
}
